<div class="col-md-8 mx-auto" >


<div>
<h1>User Sign in</h1>
</div> 


<form action="/verify_credentials" method="post">
<div class="mb-3">
  <label for="browser_username" class="form-label" >Username: </label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">
  </div>

<div class="mb-3">
<label for="browser_password" >Password: </label>
  <input id="browser_password" type="password" name="input_password" placeholder="Enter a password...">
  </div>


  <button class="btn btn-primary" >Sign in</button>
</form>
</div>
